<nav class="navbar navbar-inverse">
  <div class="container text-center">
    {{#link-to "application"}}<h3>Travel Journal</h3>{{/link-to}}
  </div>
</nav>
<div class="container wrap">
  <div id="mainNav" class="row col-sm-6 col-sm-offset-3">
    <ul class="list-unstyled">
      <li id="entriesAll" class="col-sm-4 text-center">
        {{#link-to 'entries.index'}}
        <i class="glyphicon glyphicon-th"></i>
        {{/link-to}}</li>
      </li>
      <li id="createNew" class="col-sm-4 text-center">
        {{#link-to 'entries.new'}}
        <i class="glyphicon glyphicon-plus"></i>
        {{/link-to}}
      </li>
      <li id="fav" class="col-sm-4 text-center">
        {{#link-to 'entries.new'}}
        <i class="glyphicon glyphicon-heart"></i>
        {{/link-to}}
      </li>
    </ul>
  </div>

  <div class="col-sm-offset-3 col-sm-6">
    <h1 id="intro" class="text-center">SHARE YOUR TRAVELS...</h1>
  </div>

  <div class="row col-sm-10 col-sm-offset-1">
    {{outlet}}
  </div>
</div>
<div class="push"></div>
</div>

<div class="footer">
  <p>created by Momo's Human</p>
</div>
