<nav class="navbar navbar-inverse">
  <div class="container text-center">
    <h3>Travel Journal</h3>
  </div>
</nav>
<div class="container wrap">
  <div id="mainNav" class="row col-sm-6 col-sm-offset-3">
    <ul class="list-unstyled">
      <li id="entriesAll" class="col-sm-4 text-center">
        {{#link-to 'entries.index'}}
        <i class="glyphicon glyphicon-th"></i>
        {{/link-to}}</li>
      </li>
      <li id="createNew" class="col-sm-4 text-center">
        {{#link-to 'entries.new'}}
        <i class="glyphicon glyphicon-plus"></i>
        {{/link-to}}</li>
      <li class="col-sm-4" class="col-sm-4 text-center">
        <i class="glyphicon glyphicon-heart"></i>
      </li>
    </ul>
  </div>

  <div class="row col-sm-10 col-sm-offset-1">
    {{outlet}}
  </div>
</div>
